<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
	<section>
		<div class="card" style="margin-right: 30px;margin-left: 30px">
			<div class="card-body" th:if="${contact}">
				<div style="height: 50px" th:if="${session.message}" th:classappend="${session.message.type}" class="alert" role="alert">
					<p th:text="${session.message.content}"></p>
					<th:block th:text="${#session.removeAttribute('message')}"></th:block>
				</div>
			
				<div class="container text-center">
					<img alt="profile" style="height: 170px;width: 170px" class="profile_image" th:src="@{'/image/'+${contact.image}}">
					<h3 class="mt-3"><span th:text="${contact.name}"></span> (<span th:text="${contact.secondName}"></span>)</h3>
					<div class="table-responsive">
					<table class="table table-striped mt-3">
					  <thead>
					    <tr>
					      <th scope="col">#Id</th>
					      <th scope="col" th:text="SCM+${contact.cid}"></th>
					      
					    </tr>
					  </thead>
					  <tbody>
					    <tr>
					    	<th scope="row">Email</th>
					    	<td th:text="${contact.email}"></td>
					    </tr>
					    <tr>
					    	<th scope="row">Phone No</th>
					    	<td th:text="${contact.phone}"></td>
					    </tr>
					    <tr>
					    	<th scope="row">Work</th>
					    	<td th:text="${contact.work}"></td>
					    </tr>
					    
					    
					  </tbody>
					</table>
					</div>
					
					<div class="description mt-3">
						<th:block th:utext="${contact.description}"></th:block>
					</div>
					<div class="container">
						
						
						<a class="btn btn-danger btn-sm" th:href="@{'/user/delete/'+${contact.cid}}">Delete</a>
						<a class="btn btn-primary btn-sm" th:href="@{'/user/update/'+${contact.cid}}">Update</a>
						
					</div>
				</div>
			</div>
			<div class="container" th:unless="${contact}">
				<div class="alert alert-danger mt-3">
					You don't have permission to see this contact...
				</div>
			</div>
		</div>
	</section>
</body>
</html>