<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
	<section>
		<div class="container">
			<div class="card">
				<div class="card-body my-5">
					<div class="container text-center">
					
						<img th:src="@{/image/dashboard.png}" style="width: 200px;height: 200px" alt="logo" class="profile_image" />
					
					<h1 class="text-center mt-3 text-secondary font-italic font-weight-light">
						Starting adding your contact on cloud...
					</h1>
					
					<a class="btn btn-primary mt-4 text-uppercase text" th:href="@{/user/add-contact}">Add new contact</a>
					</div>
				</div>
			</div>
		</div>
		
		<script type="text/javascript">
			$(document).ready(()=>{
				$(".item").removeClass('active');
				$("#home-link").addClass('active');
			})
		</script>
	</section>
</body>
</html>