<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
	<section >
		<div class="container">
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<div class="my-card mt-3" >
					
						<div th:if="${session.message}" th:classappend="${session.message.type}" class="alert" role="alert">
							<p th:text="${session.message.content}"></p>
							<th:block th:text="${#session.removeAttribute('message')}"></th:block>
						</div>
					
						<div class="container text-center">
							<img width="80px" th:src="@{/image/user.png}" alt="" />
						</div>
						<h1 class="text-center display-block">
							Login here..
						</h1>
						
						<div th:if="${param.error}" class="alert alert-danger">
							Invalid Email and Password..
						</div>
						<div th:if="${param.logout}" class="alert alert-success">
							You have been logged out..
						</div>
						<div th:if="${param.change}" th:text="${param.change}" class="alert alert-success">
							
						</div>
						
						
						<form th:action="@{/dologin}" method="post">
						
							
							<div class="mb-3 form-group">
							    <label for="email" class="form-label">Your Email</label>
							    <input name="username" type="email" class="form-control" id="email" placeholder="Enter here" aria-describedby="emailHelp">
							 </div>
							 
							 <div class="mb-3 form-group">
							    <label for="password" class="form-label">Your Password</label>
							    <input name="password" type="password" class="form-control" placeholder="Enter here" id="password">
							 </div>
						
							 <div class="form-group form-check">
							 	<input name="rememberme" type="checkbox" class="form-check-input" id="rememberme" />
							 	<label for="rememberme">Remember me</label>
							 </div>
							 
							 
							 
						
							 
							 <div class="text-center">
							 	<button type="submit" class="btn bg-primary text-white">Submit</button>
							 </div>
							 
						</form>
						<div class="container">
							<a th:href="@{/forgot-password}">Forgot password ?</a>
						</div>
						<div class="container my-1">
                            <a th:href="@{/signup}" class="text-info" >Register here</a>
                        </div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>